-
	var items = [
		{title: 'Температура', text: '90°C'},
		{title: 'Кофе', text: '16г'},
		{title: 'Выход', text: '48г'},
		{title: 'Время экстракции', text: '25 сек'},
	]


+modal({
    id: 'modal-product',
    mod: 'modal-narrow modal-product',
    title: false,
    header: false
})
	.modal-product(x-data="{ activeTab: 'text' }")
		.modal-product__head
			.modal-product__info
				.modal-product__title Бразилия Велосо Колекта
				.modal-product__desc Сладкий кофе с насыщенным вкусом шоколада и нотами фундука и карамели.
				.modal-product__props
					.modal-product__prop
						.prop Кислотность
						.val
							span.line(style='width: 20%')
					.modal-product__prop
						.prop Плотность
						.val
							span.line(style='width: 60%')
			.modal-product__img
				img(src=SITE_TEMPLATE_PATH + "images/product.png")
		.modal-product__body
		.modal-product__tabs
			.tabs-nav
				.tabs-nav__list
					.tabs-nav__item(:class="{'active': activeTab === 'text'}" @click="activeTab = 'text'") Описание
					.tabs-nav__item(:class="{'active': activeTab === 'options'}" @click="activeTab = 'options'") Рецепты
					.tabs-nav__item(:class="{'active': activeTab === 'info'}" @click="activeTab = 'info'") Информация о производителе

			.tabs-container
				// Описание
				.tabs-container__item(:class="{'hidden': activeTab !== 'text'}")
					.modal-product__text.content
						p Эволюция Бразилии Сантос. Этот лот приехал (и приплыл) к нам от бренда Колекта, с региона Cerrado Mineiro, (южно-центральная часть Бразилии) имеющую 50-ю историю, и активно борющуюся за звание за лидера по качеству арабики. 
						p Из-за бережного выращивания, оптимальных внешний условий и хорошего оборудования зерно получилось высшего качества (по секрету - даже лучше предыдущих зерен, что мы использовали в этом лоте). Вобрало в себя уникальную и насыщенную палитру вкуса: в доминанте чувствуется карамельно-шоколадная сладость, а, распробовав раскрывается легкая, цветочная кислинка, дополненная насыщенным ароматом орехов.
						.content-img
							img(src=SITE_TEMPLATE_PATH + "images/news-1.png")
						p Cerrado Mineiro Region - особый регион в Бразилии, где буквально каждое слово и названия имеет смысл:
						p Cerrado - общее название территории Южной Америки (преимущественно Бразилии, Боловии и Парагвая), где все просторы заняты особой, южной-американской и тропической саванной.
						p Климатические условия в этом регионе в какой-то степени “райские” - оптимальный световой день, удачная, как на подбор, температура и влажность. Не говоря уже о почве и горах, что в купе насыщают кофейные зёрна сбалансированным вкусом, с очень сдержанной горечью и легчайшей, цветочной, кислинкой. Благодаря чему кофейные зерна из этого региона - отлично подходят “на каждый день”. 
						p Между слов: эти зёрна специально отбирали для нас!
						p А теперь минутка истории: 
						p Бразилия - один из крупнейших стран-экспортеров кофе, последние годы входящая в топ-3 среди всех стран экспортеров арабики. Причина этому не только райские условия для выращивания кофе, но и высокое качество оборудования, конкуренция и умеренная поддержка (по принципу: помогай, но не мешай) государства – позволила создать действительно качественное зерно арабики. 
						p Хотя Бразилия познакомилась с кофе примерно 300 лет назад, в 1727 году туда завезли её французские колонисты из Гаваны (на тот момент колония франции). Кофейные плантации начали активно распространятся на территории современной Бразилии лишь в начале XVIII века, на которых основную работу делали рабы, впрочем, как и на всей территории центральной Америки, от Юга США и до Чили. Однако, в 1850 году Британская империя перестала продавать рабов в Бразилию, из-за чего власти предпринимали меры по стимулированию работы на плантациях иммигрантов, а не рабов. Всё это привело к тому, что в 1888 году мировые кофейные лидеры пророчили смерть Бразильской кофейной индустрии.
						p Одно из нетипичных решений (для того времени) - являлась политика стабилизации цен. Во многом благодаря ей бразильский кофе выбрался из ямы в 1888 году и пережил Великую депрессию. Бразильское правительство, скупало излишки кофе, когда цены на мировом рынке были низкие по льготным и завышенным ценам.
						p Бразилия Велосо Колекта – ароматный и сбалансированный кофе с нотками орехов, карамели и какао. Тело (плотность) напитка получается ровное и плотное, с низкой по интенсивности кислотностью.
				.tabs-container__item(:class="{'hidden': activeTab !== 'options'}")
					.modal-product__options(x-data="{option: 1}")
						.tab-header
							.tab-header__item.btn.btn--menu(@click="option = 1" :class="{'active': option == 1}")
								span Эспрессо
							.tab-header__item.btn.btn--menu(@click="option = 2" :class="{'active': option == 2}")
								span Воронка
						.tab-boby
							.tab-boby__item(:class="{'hidden': option !== 1}")
								table.tab-props
									tbody
										each item in items
											tr
												td.tab-props__name=item.title
												td.tab-props__text=item.text
							.tab-boby__item(:class="{'hidden': option !== 2}")
								table.tab-props
									tbody
										each item in items.reverse()
											tr
												td.tab-props__name=item.title
												td.tab-props__text=item.text

				.tabs-container__item(:class="{'hidden': activeTab !== 'info'}")
					.modal-product__product-info
						h4 Кофе жареный в зернах/молотый Roast.by
						p Производитель: ООО «Иммастар компани», Республика Беларусь, Минская область, Червенский район, аг. Черноградь, ул. Молодежная 6-2 (017) 355-88-86 ГОСТ 32775-2014
						p Срок годности: 18 месяцев для кофе в зернах, 12 месяцев для кофе молотого Мы рекомендуем выпить кофе не позднее, чем через три недели с момента обжарки.
