mixin nav(args= {})
	//- ПРИМЕР
		+nav(
			{	modClass: 'nav--modClass',
				big_nav: '',
				list_hidden: '',
				list: [
					{   name: 'LVL_1_NAME_1-',
						img: 'images/main-nav-0.png'},
					{name: 'LVL_1_NAME_2',
						list: [
							{ name: 'LVL_2_NAME_1'},
							{ name: 'LVL_2_NAME_2',
								list: [
									{name: 'LVL_3_NAME_1'},
									{name: 'LVL_3_NAME_2'},
								]
							},
						]
					}
				]
			}
		)

	div.js-nav.nav(class= args.mod)
		ul.nav-list
			each item in args.list
				li.nav-item(
					class= item.mod_class
					class= item.active && 'active'
					class= item.list && 'has-nav'
					class= item.accent && 'accent'
					x-data="{ open: false }"
				)
					#{item.active ? 'span' : 'a'}.nav-link(
						href="#"
						aria-label= item.name
						@click="open = ! open; catalog =!catalog"
					)
						if(item.name_arr)
							+icon('i-arrow-down')(style="width:7px;height:5px;")
						if(item.accent)
							span.nav-speaker
								<svg width="14" height="13" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									<rect width="16" height="16" fill="#D0D0D0"/>
									<g id="&#208;&#147;&#208;&#187;&#208;&#176;&#208;&#178;&#208;&#189;&#208;&#176;&#209;&#143;" clip-path="url(#clip0_0_1)">
									<rect width="1400" height="4068" transform="translate(-429 -9)" fill="white"/>
									<g id="heder" filter="url(#filter0_d_0_1)">
									<g id="up menu">
									<rect id=" background" x="-429" y="-9" width="1400" height="35" fill="#F8F8F8"/>
									<g id="menu">
									<g id="Frame 2614">
									<g id="Frame 2598">
									<path id="Icon" d="M15 5.17104V8.04149M6.775 3.37701H4.36C3.18389 3.37701 2.59583 3.37701 2.14662 3.61166C1.75148 3.81806 1.43022 4.1474 1.22889 4.55248C0.999999 5.013 0.999999 5.61585 1 6.82155L1 7.68268C1 8.35142 1 8.68578 1.10657 8.94954C1.24866 9.3012 1.5212 9.5806 1.86424 9.72627C2.12152 9.83552 2.44768 9.83552 3.1 9.83552V12.8854C3.1 13.052 3.1 13.1353 3.10674 13.2055C3.17221 13.8869 3.69809 14.426 4.36278 14.4931C4.43122 14.5 4.51248 14.5 4.675 14.5C4.83752 14.5 4.91878 14.5 4.98723 14.4931C5.65191 14.426 6.17779 13.8869 6.24326 13.2055C6.25 13.1353 6.25 13.052 6.25 12.8854V9.83552H6.775C8.0115 9.83552 9.52407 10.515 10.691 11.1672C11.3718 11.5476 11.7122 11.7378 11.9351 11.7098C12.1418 11.6839 12.2981 11.5887 12.4193 11.4151C12.55 11.2278 12.55 10.8531 12.55 10.1037V3.10883C12.55 2.35943 12.55 1.98474 12.4193 1.79747C12.2981 1.62381 12.1418 1.52866 11.9351 1.5027C11.7122 1.47471 11.3718 1.66493 10.691 2.04538C9.52407 2.69751 8.0115 3.37701 6.775 3.37701Z" stroke="#8A6048" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
									</g>
									</g>
									</g>
									</g>
									</g>
									</g>
									<defs>
									<filter id="filter0_d_0_1" x="-438" y="-14" width="1418" height="131" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
									<feFlood flood-opacity="0" result="BackgroundImageFix"/>
									<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
									<feOffset dy="4"/>
									<feGaussianBlur stdDeviation="4.5"/>
									<feComposite in2="hardAlpha" operator="out"/>
									<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.05 0"/>
									<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/>
									<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/>
									</filter>
									<clipPath id="clip0_0_1">
									<rect width="1400" height="4068" fill="white" transform="translate(-429 -9)"/>
									</clipPath>
									</defs>
								</svg>
						span.nav-item-name!= item.name
						if(item.list && !item.no_toggle)
							span.nav-toggle.js-nav-toggle
								+icon('i-arrow-down')(width="7px" height="5px")
					if(item.list)
						div.js-nav.nav-lvl2(:class="open ? 'is-active':''")
							if(item.title)
								.nav-lvl2-close(@click="isMobileNavVisible = ! isMobileNavVisible")
									+icon('i-close')(style="height:16px;width:16px")
								.nav-lvl2-header(@click="open = ! open; catalog =!catalog")
									+icon('i-arrow-right')(style="width: 7px;height:12px")
									| Назад
								a(href="#").nav-lvl2-title=item.title
									+icon('i-arrow-right')(style="width: 7px;height:12px")
							ul.nav-lvl2-list
								each item2, index in item.list
									li.nav-lvl2-item(
										x-data="{ open2: false }"
										class= item2.active && 'active'
										class= item2.list && 'has-nav'
									)
										#{item2.active ? 'span' : 'a'}.nav-lvl2-link(
											href="#"
											aria-label= item2.name
											@click="open2 = ! open2"
											)
											span.nav-lvl2-item-name!= item2.name
											if(item2.list)
												span.nav-lvl2-toggle.js-nav-toggle
													+icon('i-arrow-down')(width="7px" height="5px")
										if(item2.list)
											div.js-nav.nav-lvl3(:class="open2 ? 'is-active':''")
												if(item2.title)
													.nav-lvl3-close(@click="isMobileNavVisible = ! isMobileNavVisible")
														+icon('i-close')(style="height:16px;width:16px")
													.nav-lvl3-header(@click="open2 = ! open2")
														+icon('i-arrow-right')(style="width: 7px;height:12px")
														| Назад
													a(href="#").nav-lvl3-title=item2.title
														+icon('i-arrow-right')(style="width: 7px;height:12px")
												ul.nav-lvl3-list
													each item3 in item2.list
														li.nav-lvl3-item(
															class= item3.active && 'active'
															class= item3.list && 'has-nav'
														)
															#{item3.active ? 'span' : 'a'}.nav-lvl3-link(href="#" aria-label= item3.name)
																span.nav-lvl3-item-name!= item3.name
			if(args.more_btn)
				li.nav-item.nav-item--more
					span.nav-link
						+icon('i-dots')(style="width:15px;height:3px")
					div.js-nav.nav-lvl2
						ul.nav-lvl2-list.js-nav-lvl2-list--more